<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../recources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <title>Javascript 101 | Events</title>
</head>

<body class="inner-post">

    <div class="open">
        <button class="menu-btn" id="open_btn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
    </div>
    <div class="left-panel">
        <div id="close-btn">
            <button class="menu-btn" id="close_btn"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="nav-links">
            <ul class="main_ul">
                <li> <a href="/views/index.html">Home</a></li>
                <div class="overlay">
                    <button id="overlay_btn">JAVASCRIPT TUTORIALS</button>
                    <ul>
                        <li><a href="../views/Variables.html">Variables</a></li>
                        <li><a href="../views/Condition_Statements.html">Condition Statements</a></li>
                        <li><a href="../views/Arrays_and_Loops.html">Arrays and Loops</a></li>
                        <li><a href="../views/Maps.html">Maps</a></li>
                        <li><a href="../views/Built_in_Functions.html">Built in Functions</a></li>
                        <li><a href="../views/User_Functions.html">User Defined Functions</a></li>
                        <li><a href="../views/Events.html">Events</a></li>
                    </ul>
                </div>

                <div class="overlay2">
                    <button id="overlay2_btn">JQUERY TUTORIALS</button>
                    <ul>
                        <li><a href="../views/Jquery_Function.html">Functions</a></li>
                        <li><a href="../views/Jquery_Selectors.html">Selectors</a></li>
                        <li><a href="../views/Jquery_creating.html">Creating and appending elements</a></li>
                        <li><a href="../views/Jquery_Seperate_Files.html">Separate Scripting Files:</a></li>
                        <li><a href="../views/Jquery_Effects.html">Events and effects:</a></li>
                        <li><a href="../views/Jquery_Effects_Chaining.html">Effect chaining:</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    </div>


    <div class="post-text">
        <h1>Welcome to <span class="color-text">Events</span></h1>
        <p>HTML events are "things" that happen to HTML elements. When JavaScript is used in HTML pages, JavaScript can "react" on these events.
        </p>
        <div class="example-box">
            <h2>Example</h2>
            <div class="inner-example">
                <label><</label>button onclick="document.getElementById('demo').innerHTML = Date()">The time is?<label><</label>/button>
            </div>
        </div>

        <hr class="line">

        <h3>An HTML event can be something the browser does, or something a user does. Here are some examples of HTML events:</h3>
        <ul>
            <li>An HTML web page has finished loading</li>
            <li>An HTML input field was changed</li>
            <li>An HTML button was clicked</li>
        </ul>

        <p>Often, when events happen, you may want to do something. JavaScript lets you execute code when events are detected. HTML allows event handler attributes, with JavaScript code, to be added to HTML elements.</p>

        <h3>In this example, we will see what the vent triggers.</h3>
        <div class="example-box">
            <h2>Example</h2>
            <div class="inner-example">
                <label><</label>button onclick="this.innerHTML = Date()">The time is?<label><</label>/button>
            </div>
            <p>What will the inner html be?</p>
            <div id="test-div">
                <input type="radio" id="input1" name="input" value="10">
                <label for="">The current date and time</label>
                <input type="radio" id="input2" name="input" value="11">
                <label for="">The current date only.</label>
                <input type="radio" id="input3" name="input" value="13">
                <label for="">13 January 2020</label><br>
            </div>
        </div>

        <hr class="line">

        <h3>What can JavaScript Do?</h3>
        <ul>
            <li>Things that should be done every time a page loads</li>
            <li>Things that should be done when the page is closed</li>
            <li>Action that should be performed when a user clicks a button</li>
            <li>Content that should be verified when a user inputs data</li>
            <li>And More...</li>
        </ul>

        <div class="tip">
            <h3>TIP</h3>
            <h4>JavaScript code is often several lines long. It is more common to see event attributes calling functions.</h4>
        </div>

        <a href="../views/Jquery_Function.html" class="next">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>


    </div>

    <!--Jquery Link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../recources/js/script.js"></script>
</body>

</html>