<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../recources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>

<body class="index-body">
    <div class="bg-img-main">
        <div class="top-nav-logo">
            <div class="logo-top">

            </div>
            <div class="nav-top">

            </div>
        </div>
        <div class="open">
            <button class="menu-btn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="left-panel">
            <div id="close-btn">
                <button class="menu-btn"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

    <!--Jquery Link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>