<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../recources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <title>Javascript 101 | Home</title>
</head>

<body class="index-body">

    <div class="bg_img">
        <img src="https://wallabyjs.com/mailinglist/archive/assets/141h4KikTwe2HkmvJlbFf4g.gif">
        <div class="open">
            <button class="menu-btn" id="open_btn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="left-panel">
            <div id="close-btn">
                <button class="menu-btn" id="close_btn"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></button>
            </div>
            <div class="nav-links">
                <ul class="main_ul">
                    <li>Home</li>
                    <div class="overlay">
                        <button id="overlay_btn">JAVASCRIPT TUTORIALS</button>
                        <ul>
                            <li><a href="../views/Variables.html">Variables</a></li>
                            <li><a>Condition Statements</a></li>
                            <li><a>Arrays and Loops</a></li>
                            <li><a>Maps</a></li>
                            <li><a>Built in Functions</a></li>
                            <li><a>User Defined Functions</a></li>
                            <li><a>Events</a></li>
                        </ul>
                    </div>

                    <div class="overlay2">
                        <button id="overlay2_btn">JQUERY TUTORIALS</button>
                        <ul>
                            <li><a>Functions</a></li>
                            <li><a>Selectors</a></li>
                            <li><a>Creating and appending elements</a></li>
                            <li><a>Separate Scripting Files:</a></li>
                            <li><a>Events and effects:</a></li>
                            <li><a>Effect chaining:</a></li>
                        </ul>
                    </div>
                </ul>
            </div>

        </div>
    </div>

    </div>

    <div class="center-text">
        <h1>WELCOME TO <span class="color-text">JAVASCRIPT 101</span></h1>
        <button>GET STARTED</button>
    </div>

    <!--Jquery Link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../recources/js/script.js"></script>
</body>

</html>