<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../recources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <title>Javascript 101 | User Defined Events</title>
</head>

<body class="inner-post">

    <div class="open">
        <button class="menu-btn" id="open_btn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
    </div>
    <div class="left-panel">
        <div id="close-btn">
            <button class="menu-btn" id="close_btn"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="nav-links">
            <ul class="main_ul">
                <li> <a href="/views/index.html">Home</a></li>
                <div class="overlay">
                    <button id="overlay_btn">JAVASCRIPT TUTORIALS</button>
                    <ul>
                        <li><a href="../views/Variables.html">Variables</a></li>
                        <li><a href="../views/Condition_Statements.html">Condition Statements</a></li>
                        <li><a href="../views/Arrays_and_Loops.html">Arrays and Loops</a></li>
                        <li><a href="../views/Maps.html">Maps</a></li>
                        <li><a href="../views/Built_in_Functions.html">Built in Functions</a></li>
                        <li><a href="../views/User_Functions.html">User Defined Functions</a></li>
                        <li><a href="../views/Events.html">Events</a></li>
                    </ul>
                </div>

                <div class="overlay2">
                    <button id="overlay2_btn">JQUERY TUTORIALS</button>
                    <ul>
                        <li><a href="../views/Jquery_Function.html">Functions</a></li>
                        <li><a href="../views/Jquery_Selectors.html">Selectors</a></li>
                        <li><a href="../views/Jquery_creating.html">Creating and appending elements</a></li>
                        <li><a href="../views/Jquery_Seperate_Files.html">Separate Scripting Files:</a></li>
                        <li><a href="../views/Jquery_Effects.html">Events and effects:</a></li>
                        <li><a href="../views/Jquery_Effects_Chaining.html">Effect chaining:</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    </div>


    <div class="post-text">
        <h1>Welcome to <span class="color-text">User Defined Functions</span></h1>
        <p>A JavaScript function is a block of code designed to perform a particular task. A JavaScript function is executed when "something" invokes it (calls it).
        </p>
        <div class="example-box">
            <h2>Example</h2>
            <div class="inner-example">
                function myFunction(p1, p2) {
                <br>return p1 * p2; <span class="comments">// The function returns the product of p1 and p2</span>
                <br>}
            </div>
        </div>

        <hr class="line">

        <h3>From the example above, you can expect:</h3>
        A JavaScript function is defined with the function keyword, followed by a name, followed by parentheses (). Function names can contain letters, digits, underscores, and dollar signs (same rules as variables). The parentheses may include parameter names
        separated by commas: (parameter1, parameter2, ...) The code to be executed, by the function, is placed inside curly brackets: {}


        <div class="example-box">
            <h2>Example</h2>
            <div class="inner-example">
                function name(parameter1, parameter2, parameter3) {
                <br><span class="comments">// code to be executed</span>
                <br>}
            </div>
        </div>

        <p>Function parameters are listed inside the parentheses () in the function definition. Function arguments are the values received by the function when it is invoked. Inside the function, the arguments (the parameters) behave as local variables.</p>

        <h3>Function Invocation</h3>

        <p>The code inside the function will execute when "something" invokes (calls) the function:</p>

        <ul>
            <li>When an event occurs (when a user clicks a button)</li>
            <li>When it is invoked (called) from JavaScript code</li>
            <li>Automatically (self invoked)</li>
        </ul>

        <h3>Function Return</h3>
        <p>When JavaScript reaches a return statement, the function will stop executing. If the function was invoked from a statement, JavaScript will "return" to execute the code after the invoking statement. Functions often compute a return value. The
            return value is "returned" back to the "caller":</p>


        <div class="example-box">
            <h2>Example</h2>
            <div class="inner-example">
                var x = myFunction(4, 3); <span class="comments">// Function is called, return value will end up in x</span>
                <br>function myFunction(a, b) {<br> return a * b; <span class="comments">// Function returns the product of a and b</span> <br>}
            </div>
            <p>What will total equal to?</p>
            <div id="test-div">
                <input type="radio" id="input1" name="input" value="10">
                <label for="">10</label>
                <input type="radio" id="input2" name="input" value="11">
                <label for="">11</label>
                <input type="radio" id="input3" name="input" value="13">
                <label for="">13</label><br>
            </div>
        </div>

        <hr class="line">


        <div class="tip">
            <h3>TIP</h3>
            <h4>A Function is much the same as a Procedure or a Subroutine, in other programming languages.</h4>
        </div>

        <a href="../views/Events.html" class="next">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>

    <!--Jquery Link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../recources/js/script.js"></script>
</body>

</html>