* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
}

.color-text {
    color: red;
}

.comments {
    color: green;
}

a {
    text-decoration: none;
    color: black;
}