.inner-post {
    margin-bottom: 40px;
    padding: 0 400px;
    i {
        color: black;
    }
    .post-text {
        margin-top: 50px;
        h1 {
            font-size: 60px;
            text-align: center;
        }
        h3 {
            margin: 10px 0 10px 0;
        }
        p {
            margin-top: 20px;
            font-weight: normal;
            text-align: left;
        }
        .example-box {
            margin-top: 30px;
            background-color: lighten(lightgray, 10);
            width: 100%;
            height: auto;
            text-align: left;
            padding: 20px;
            h2 {
                margin-bottom: 10px;
            }
            h4 {
                margin: 10px 0 10px 0;
            }
        }
        .inner-example {
            border-left: 3px solid red;
            height: auto;
            width: 100%;
            background-color: white;
            padding-left: 10px;
        }
        .line {
            margin: 40px 0;
        }
        h3 {
            margin-bottom: 10px;
        }
        ul {
            margin-left: 20px;
            margin-bottom: 40px;
        }
        .tip {
            margin-top: 20px;
            width: 100%;
            height: auto;
            background-color: lightyellow;
            padding: 20px;
        }
    }
    .btn_test {
        margin-top: 10px;
        width: 150px;
        height: 30px;
        background-color: red;
        border: 0;
        outline: 0;
        cursor: pointer;
    }
    .btn_test:hover {
        background-color: lighten(red, 10);
        color: white;
    }
    .test_cube {
        width: 50px;
        height: 50px;
        background-color: purple;
        margin-top: 20px;
    }
    .next {
        background-color: red;
        padding: 10px;
        float: right;
        margin: 20px;
        cursor: pointer;
        transition: ease-in-out 0.1s;
    }
    .next:hover {
        background-color: lighten(red, 12);
        i {
            transform: translateX(5px);
        }
    }
}