.index-body {
  overflow: hidden;
}

.index-body .left-panel {
  z-index: 1;
}

.index-body .bg_img {
  z-index: -1;
  width: 100%;
  height: 970px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border: 3px solid black;
}

.index-body .bg_img img {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.index-body .center-text {
  text-align: center;
  color: whitesmoke;
  margin-top: -700px;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.index-body .center-text h1 {
  font-size: 40px;
}

.index-body .center-text span {
  color: red;
}

.index-body .center-text button {
  margin-top: 100px;
  width: 200px;
  height: 50px;
  background-color: red;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.index-body .center-text button:hover {
  background-color: #ff3333;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Patua One', cursive;
}

.color-text {
  color: red;
}

.comments {
  color: green;
}

a {
  text-decoration: none;
  color: black;
}

.open {
  position: fixed;
  left: 5px;
  top: 10px;
  overflow: hidden;
}

.open i {
  color: white;
}

.menu-btn {
  float: right;
  margin: 10px 10px;
  border: 0;
  background-color: transparent;
  outline: 0;
}

.menu-btn i {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.left-panel {
  background-color: whitesmoke;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  height: 100%;
  width: 0%;
  z-index: 1;
  position: fixed;
  left: 1px;
  top: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  opacity: 0.8;
}

.left-panel .nav-links {
  padding: 0 10px;
}

.left-panel .nav-links .main_ul {
  background-color: red;
  width: 100%;
  text-align: center;
  height: 30px;
  border: 0;
}

.left-panel .nav-links .main_ul li {
  cursor: pointer;
  padding-top: 5px;
  height: 100%;
}

.left-panel .nav-links .main_ul .overlay, .left-panel .nav-links .main_ul .overlay2 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: 30px;
  height: 30px;
  width: 100%;
  overflow: hidden;
}

.left-panel .nav-links .main_ul .overlay button, .left-panel .nav-links .main_ul .overlay2 button {
  cursor: pointer;
  width: 100%;
  height: 30px;
  background-color: red;
  border: 0;
  outline: 0;
}

.left-panel .nav-links .main_ul .overlay button:hover, .left-panel .nav-links .main_ul .overlay2 button:hover {
  background-color: #ff3333;
  color: white;
}

.left-panel .nav-links .main_ul .overlay ul, .left-panel .nav-links .main_ul .overlay2 ul {
  margin-top: 20px;
}

.left-panel .nav-links .main_ul .overlay ul li, .left-panel .nav-links .main_ul .overlay2 ul li {
  margin-bottom: 10px;
  padding: 5px;
}

.left-panel .nav-links li:hover {
  background-color: #ff3333;
  color: white;
}

.inner-post {
  margin-bottom: 40px;
  padding: 0 400px;
}

.inner-post i {
  color: black;
}

.inner-post .post-text {
  margin-top: 50px;
}

.inner-post .post-text h1 {
  font-size: 60px;
  text-align: center;
}

.inner-post .post-text h3 {
  margin: 10px 0 10px 0;
}

.inner-post .post-text p {
  margin-top: 20px;
  font-weight: normal;
  text-align: left;
}

.inner-post .post-text .example-box {
  margin-top: 30px;
  background-color: #ededed;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 20px;
}

.inner-post .post-text .example-box h2 {
  margin-bottom: 10px;
}

.inner-post .post-text .example-box h4 {
  margin: 10px 0 10px 0;
}

.inner-post .post-text .inner-example {
  border-left: 3px solid red;
  height: auto;
  width: 100%;
  background-color: white;
  padding-left: 10px;
}

.inner-post .post-text .line {
  margin: 40px 0;
}

.inner-post .post-text h3 {
  margin-bottom: 10px;
}

.inner-post .post-text ul {
  margin-left: 20px;
  margin-bottom: 40px;
}

.inner-post .post-text .tip {
  margin-top: 20px;
  width: 100%;
  height: auto;
  background-color: lightyellow;
  padding: 20px;
}

.inner-post .btn_test {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  background-color: red;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.inner-post .btn_test:hover {
  background-color: #ff3333;
  color: white;
}

.inner-post .test_cube {
  width: 50px;
  height: 50px;
  background-color: purple;
  margin-top: 20px;
}

.inner-post .next {
  background-color: red;
  padding: 10px;
  float: right;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.inner-post .next:hover {
  background-color: #ff3d3d;
}

.inner-post .next:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
/*# sourceMappingURL=style.css.map */